.HomeNews {
  display: block;
  margin: auto auto;
  padding-bottom: 10%;
  background-color: #ffb400;
  width: 75%;
  border-radius: 10px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .HomeNews {
    display: block;
    padding-bottom: 2%;
    margin: auto auto;
    background-color: #ffb400;
    width: 80%;
    border-radius: 10px;
    text-align: center;
  }

  .articleList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    width: 80vw;
  }
}
