.carouselLayout {
  width: auto;
  margin: 30px auto;
}

.slider-single-content {
  box-shadow: none !important;
}

@media screen and (max-width: 700px) {
  .carouselLayout {
    margin: 30px auto 150px auto;
  }
}
