.footerContact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  background-color: var(--secondary-color);
  position: fixed;
  bottom: 0;
  color: var(--main-color);
  padding: 10px;
  font-size: 30px;
}

.followUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
  padding-bottom: 50px;
}

.contact {
  padding-bottom: 10px;
}

.cgu {
  padding-bottom: 10px;
}

.aboutUs {
  padding-bottom: 10px;
}

.copyright {
  transform: translate(275%);
}

.logo {
  display: flex;
  padding-top: 20px;
}

@media screen and (max-width: 700px) {
  .footerContact {
    display: flex;
    font-size: 20px;
    height: 16%;
    justify-content: space-around;
    padding-bottom: 17px;
  }

  .titleFollow {
    font-size: 0;
  }

  .copyright {
    transform: translate(70%);
  }

  .followUs {
    padding-bottom: 0;
  }

  .logo {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 45px;
  }
}
