.slider {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: auto;
  height: 60vh;
  border-radius: 15px;
}

.right-arrow {
  position: absolute;
  top: center;
  right: 2vh;
  font-size: 3rem;
  color: border #ffb400 1px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: center;
  left: 2vh;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: p;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
