.slider {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: auto;
  height: 60vh;
  border-radius: 15px;
}

.rightArrow {
  position: absolute;
  top: center;
  right: 2vh;
  font-size: 3rem;
  color: #ffb400;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.leftArrow {
  position: absolute;
  top: center;
  left: 2vh;
  font-size: 3rem;
  color: #ffb400;
  z-index: 10;
  cursor: p;
  user-select: none;
}

.rightArrow:active {
  color: #2d4059;
}

.leftArrow:active {
  color: #2d4059;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
